* {
    font-family: sans-serif;
}

em {
  color: red;
}

.grid
{
  width: 500px;
  margin: 3em auto;
}

.grid > div > div
{
  display: inline-block;
  width: 2em;
  height: 2em;
  margin: 0.2em;
  vertical-align: top;
  background: grey;
}

.rematch-btn[disabled]
{
  display: none;
}

.status
{
  margin: 3em auto;
  width: 500px;
  padding: 1.5em;
  background-color: lightgrey;
  text-align: center;
}

.status:has([data-status=waiting]) { background-color: orange; }
.status:has([data-status=playing]) { background-color: green; }
.status:has([data-status=victory]) { background-color: gold; }
.status:has([data-status=defeat]) { background-color: red; }
.status:has([data-status=draw]) { background-color: grey; }
