* {
    font-family: sans-serif;
}

em {
  color: red;
}

.game-container
{
  width: 500px;
  margin: 3em auto;
  text-align: center;
}

.grid
{
  display: inline-block;
  margin: 2em 0;
  padding: 10px;
  border: 6px solid #ddd;
  border-radius: 24px;
}

.grid > div > div
{
  display: inline-block;
  margin: 3px;
  padding: 5px;
  border: 3px solid #bbb;
  border-radius: 12px;
  vertical-align: top;
}

.grid > div > div > div
{
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 4px;
  font-size: 72px;
  cursor: pointer;
}

.grid > div > div > div:hover
{
  background-color: #ddd;
}

.rematch-btn
{
  margin: 0 1em;
}

.rematch-btn[disabled] { display: none; }

.status
{
  margin: 2em 0;
  padding: 1.5em;
  background-color: lightgrey;
  text-align: center;
}

.status:has([data-status=waiting]) { background-color: orange; }
.status:has([data-status=playing]) { background-color: green; }
.status:has([data-status=victory]) { background-color: gold; }
.status:has([data-status=defeat]) { background-color: red; }
.status:has([data-status=draw]) { background-color: grey; }
